@import "tailwindcss";
@font-face {
  font-family: 'UTM Avo';
  src: url('./assets/fonts/utm-avo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'UTM Avo', sans-serif !important;
}
@layer base {
  * { box-sizing: border-box; margin: 0; padding: 0; }
  html { scroll-behavior: smooth; }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f9f9f7;
    color: #1a1a1a;
  }
}
